body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #adadfa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {
  padding-top: 20%;
  padding-left: 31%;
}

.uname {
  height: 78px;
  width: 300px;
  font-size: 18px;
  border-radius: 10px;
}

.submit {
  background-color: brown;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 10px;
  height: 88px;
  width: 150px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 20px;
}

.player1 {
  background-color: #ff0000;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  margin-left: 2px;
  margin-top: 2px;
}

.player2 {
  background-color: #2f00ff;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  margin-left: 2px;
  margin-top: 2px;
}

.blank {
  background-color: #ffffff;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  margin-left: 2px;
  margin-top: 2px;
}

.boardCell {
  background-color: #000000;
  height: 45px;
  width: 45px;
  display: inline-block;
}

.winnerCell {
  background-color: #ffd600;
  height: 45px;
  width: 45px;
  display: inline-block;
}

.blueMove {
  color: #0000ff;
}

.redMove {
  color: #ff0000;
}
