body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7DCB4 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {
  margin-left: 35%;
}

.uname {
  height: 78px;
  width: 300px;
  font-size: 18px;
  border-radius: 10px;
}

.submit {
  background-color: brown;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 10px;
  height: 88px;
  width: 150px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 20px;
}

.player1 {
  background-color: #FF0000;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  margin-left: 3px;
  margin-top: 3px;
}

.player2 {
  background-color: #fff64f;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  margin-left: 3px;
  margin-top: 3px;
}

.blank {
  background-color: #ffffff;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  margin-left: 3px;
  margin-top: 3px;
}

.blankUnmovable {
  background-color: #ffffff;
  opacity: 50%;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  margin-left: 3px;
  margin-top: 3px;
}

.boardCell {
  background-color: #0000FF;
  height: 65px;
  width: 65px;
  display: inline-block;
}

.winnerCell {
  background-color: #8cfacc;
  height: 65px;
  width: 65px;
  display: inline-block;
}

.yellowMove {
  margin-top: 0px;
  font-size: 18px;
  text-align: center;
  color: #fff64f;
}

.redMove {
  margin-top: 0px;
  font-size: 18px;
  text-align: center;
  color: #FF0000;
}

.win {
  margin-top: 0px;
  font-size: 46.5px;
  text-align: center;
  color: #8cfacc;
}

.lost {
  margin-top: 0px;
  font-size: 46.5px;
  text-align: center;
  color: #000000;
}

.playBoard {
  float: left;
  margin-top: -25.5%;
  margin-left: 53%;
  width: 50%;
  min-width: 50%;
}

.restart {
  background-color: #d44c4c;
  font-size: 18px;
  font-weight: bolder;
  margin-top: 40px;
  margin-left: 36%;
  margin-bottom: 60px;
  height: 30px;
  width: 150px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 20px;
}

.firstMove {
  margin-top: 0px;
  text-align: center;
  color: #ffffff;
}

.header {
  font-size: 85px;
  text-align: center;
  color: #ee096c;
  font-family: 'Girassol', cursive;
  font-weight: 900;
}

.loggedInHeader {
  font-size: 45px;
  text-align: center;
  color: #ee096c;
  font-family: 'Girassol', cursive;
  font-weight: 900;
}

.stats {
  border-style: solid;
  float: left;
  margin-top: 9%;
  width: 35%;
  min-width: 25%;
}
